body {
  background-color: #ffffff !important;
}

.btnPrimary {
  width: 100% !important;
  border-radius: unset !important;
}

.imgbutt {
  position: absolute !important;
  text-align: right !important;
}

.font12px {
  font-size: 12px !important;
}

.fa-ban:before {
  content: "\f05e" !important;
  font-size: 15px !important;
  margin-right: 5px !important;
}

.mrbut {
  padding: 0px !important;
  margin: 2.5% 16% 0px 0px !important;
  border-radius: 15px !important;
  height: 25px !important;
  background-color: #929292 !important;
  color: #ffff !important;
  width: 130px !important;
  height: 25px !important;
}

.tfi .nav-tabs {
  border-bottom: unset;
}

/*===============================================================firki Image1-========================= */

.mt5pr {
  margin-top: 0% !important;
}

.mb5pr {
  margin-bottom: 5% !important;
}

.pt5pr {
  padding-top: 5% !important;
}

.pb5pr {
  padding-bottom: 5% !important;
}

.mt2pr {
  margin-top: 2% !important;
}

.mb2pr {
  margin-bottom: 2% !important;
}

.pt2pr {
  padding-top: 2% !important;
}

.pb2pr {
  padding-bottom: 2% !important;
}

.pb0pr {
  padding-bottom: 0% !important;
}

.pb10pr {
  padding-bottom: 10% !important;
}

.bgGray {
  background-color: #f4f4f4 !important;
}

.strangTitle {
  color: #929292 !important;
  font-weight: 600 !important;
  font-size: 30px !important;
}

.subTilte {
  color: #929292 !important;
  font-weight: 300 !important;
  font-size: 22px !important;
  line-height: 30px !important;
}

.joiningBtn {
  font-weight: 300 !important;
  border-radius: 25px !important;
  padding: 5px 20px 10px 20px !important;
}

.orFont {
  font-size: 25px !important;
  font-weight: 200 !important;
  color: #929292 !important;
}

.txt-decoration {
  color: #000000;
  text-decoration: none;
}

.txt-decoration a:visited,
a:hover,
a:active {
  color: #000000 !important;
  text-decoration: none !important;
}

.searchInput {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: unset !important;
  border-bottom: 0.2px solid #000 !important;
  background-color: #f4f4f4 !important;
  padding-left: 3rem !important;
  font-size: 17px !important;
  margin-top: 25px !important;
}

.form-control:focus {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.searchInput:focus {
  background-color: #f4f4f4 !important;
}

/*=================End firki image 1==============================================================*/

/*=============================================firki image 2======================================*/

.prfilePicbg {
  width: 100% !important;
  height: 100px !important;
}

.profiletitle {
  color: #000 !important;
  font-weight: 700 !important;
  font-size: 25px !important;
}

.profileEmail {
  color: #000 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.Mtop30pr {
  margin-top: 10% !important;
}

.cattxttitle {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.fa-print:before {
  content: "\f02f" !important;
  padding: 0px 10px !important;
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8" !important;
  padding: 0px 10px !important;
}

.fontImg2 {
  margin-top: 18px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

/*==========================================End firki image 2=====================================*/

/*=======================================Firki image 3============================================*/

.panel {
  border-radius: 0% !important;
  padding: 10px !important;
}

.font1 {
  font-size: 25px !important;
  display: -webkit-inline-box !important;
  margin-top: 10px !important;
  font-size: 20px !important;
  /* padding-top: 10px! important ; */
  /* padding-bottom: 10px! important ; */
}

.boldclr {
  color: #00b3c8 !important;
}

.searchInput {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: unset !important;
  border-bottom: 0.2px solid #000 !important;
  background-color: #ffffff !important;
  padding-left: 3rem !important;
  font-size: 17px !important;
  margin-top: 0px !important;
}

.has-search .form-control-feedback {
  left: 10px !important;
  top: 22px !important;
  position: absolute !important;
  z-index: 2 !important;
  display: block !important;
  line-height: 2.375rem !important;
  text-align: center !important;
  pointer-events: none !important;
  color: #b3a0a0 !important;
  font-size: 20px !important;
}

/*for  botton len small */

a#my_circles {
  height: 35px;
  padding-top: 4px;
  float: left;
  padding: 5px 30px 5px 0px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  height: 52px;
  /* font-size: 20px! important; */
  font-weight: bold !important;
  padding-top: 15px;
  font-size: 28px;
  text-decoration: underline !important;
  color: #3c3939;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px !important;
  color: #6b6666;
}

.nav-tabs .nav-link {
  border: 1px solid #f4f4f4 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding-top: 15px;
}

/*=====================================End Firki image 3========================================*/

/*=====================================Firki image 6==========================*/

.img-circle {
  margin: auto !important;
  /* border: 2px solid green !important; */
  padding: 1px;
}

.frontimg {
  /* top: -65px !important; */
  /* position: absolute !important; */
  /* margin: 0 auto! important; */
  /* right: 50px !important; */
  /* left: 50px !important; */
  /* display: block !important; */
  /* height: 146px !important; */
  /* border-radius: 50% !important; */
  /* border: 5px solid #fff !important; */
  /* z-index: 99 !important; */
  /* padding:0px !important; */
}

.frontimgWithoutHover {
  top: -65px !important;
  position: absolute !important;
  /* margin: 0 auto! important; */
  right: 50px !important;
  left: 50px !important;
  display: block !important;
  height: 146px !important;
  border-radius: 50% !important;
  border: 5px solid #fff !important;
  z-index: 99 !important;
  /* padding:0px !important; */
}

.dblock {
  display: block;
}

.fontstyle {
  font-size: 25px !important;
  font-weight: 400 !important;
  margin-top: 15px !important;
}

.text1 {
  padding-top: 70px !important;
}

.text2 {
  font-weight: 500 !important;
  font-size: 35px !important;
}

.text3 {
  font-weight: 500 !important;
  font-size: 20px !important;
}

.blogstyle {
  color: #00b3c8 !important;
  font-weight: 600 !important;
}

.text4 {
  top: 14px !important;
  font-weight: 500 !important;
  margin-bottom: 25px !important;
}

.text5 {
  padding: 0px 5px !important;
}

.bgndclr {
  /*background-color: #f4f4f4! important ;*/
  margin-top: 15px !important;
}

.fontstyle {
  font-size: 30px !important;
  font-weight: 400 !important;
  margin-top: 15px !important;
}

.cardImage6 {
  padding: 15px !important;
}

.fontImg6 {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.font2 {
  /* font-size: 9px! important ; */
  font-size: 15px !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
}

.font3 {
  /* font-size: 13px! important ; */
  font-size: 15px !important;
  font-weight: 400 !important;
}

.font6 {
  font-size: 15px !important;
}

.fontstyle2 {
  color: #00b3c8;
}

.cardImg6 {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

/*===============================End Firki image 6=============================*/

/*==================================Firki Image 7================================*/

.cardImg7 {
  margin: 0 0 10px 0 !important;
  border-left: unset !important;
  border-right: unset !important;
  border-radius: 0px !important;
}

.Image7 {
  padding: 5px !important;
}

.padtp10px {
  padding-top: 10px !important;
}

.padbt10px {
  padding-bottom: 10px !important;
}

/*================================End Firki Image 7==============================*/

/*================================Firki Image 8==============================*/

.bkgndimg {
  width: 100% !important;
  height: 130px !important;
}

.prflnm {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 4px;
}

.prflid {
  margin-top: 0px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 1px;
}

.btnStyle {
  background-color: #5dc1a1 !important;
  border: 0px solid #fff !important;
  width: 80% !important;
  color: #fff !important;
  border-radius: unset !important;
  height: 40px !important;
  background-image: unset;
}

.circleStyle {
  width: 80% !important;
}

.catTopic {
  font-size: 16px !important;
  font-weight: 590 !important;
  margin-top: 6px !important;
  color: white !important;
  margin-left: 10px;
}

.cardStyle1 {
  border: unset !important;
}

.routeLink {
  font-size: 14px !important;
  /* color:#16b5ca ! important ; */
  font-weight: 700 !important;
  /* text-transform: uppercase !important; */
  margin-right: 13px;
  color: rgb(0, 181, 202) !important;
}

/* .routeLink:hover{
    color:#1c5a18 !important;
  } */

.headstyle1 {
  font-size: 15px !important;
}

.parstyle1 {
  font-size: 10px !important;
  color: #999999 !important;
}

.cardpic {
  height: 60px !important;
  width: 60px !important;
}

.cardStyle1 {
  border: unset !important;
}

.cardStyle2 {
  background-color: #000 !important;
  color: #fff !important;
}

.pad8px {
  padding: 8px !important;
}

/* .cardbk{
    background-color: #000! important ;
    border:unset! important ;
    border-radius: 0px! important ;
    padding: 2%! important ;
  } */

/* .fontWhite{
    color:#fff! important ;
  } */

.iconPadding .fa-bell {
  padding: 0 2% !important;
}

.padtopPos {
  padding-top: 60px !important;
}

.coverPhoto {
  height: 250px !important;
  width: 100% !important;
}

.col-half-offset {
  margin-right: 3.335%;
}

.imgDownText {
  font-size: 14px !important;
  text-align: center !important;
  margin-top: 2% !important;
}

.listGroup {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.listGroup li {
  position: relative !important;
  display: block !important;
  padding: 0 !important;
  background-color: white !important;
}

.listGroup .odd li {
  background-color: #eaf5ef !important;
}

.listGroup li:hover {
  background-color: #f0f2f3 !important;
}

.listGroupTil {
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  margin-top: 5px !important;
}

.listGroupCon {
  font-size: 14px !important;
  font-weight: normal !important;
  color: #6d626299 !important;
}

.notiCon {
  font-size: 14px !important;
  font-weight: normal !important;
}

.notiIcon {
  font-size: 20px !important;
  color: #919191 !important;
}

.colMarRigDel {
  margin-right: -30px !important;
}

.pad0px {
  padding: 0px !important;
}

/*================================Firki Image 8 End==============================*/

@media only screen and (max-width: 786px) {
  .Mtop30pr {
    margin-top: 30% !important;
  }
  .col-half-offset {
    margin-right: 0% !important;
  }
}

/* add id for space between cover image and learning circles */

#learning_circles {
  margin-top: 10px;
}

.groupImg {
  max-width: 150px !important;
}

.groupFont {
  margin-top: 8px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.authorCompInline {
  display: inline !important;
}

.liked {
  color: #f16b8c !important;
}

.ta-hidden-input {
  display: none !important;
}

.pointer {
  cursor: pointer !important;
}

.groupDetailLock {
  margin-bottom: 5% !important;
  margin-top: 5% !important;
  margin-right: 5% !important;
  font-size: 40px !important;
}

.padMar0 {
  margin: 0px 0px 10px 0px !important;
  padding: 0px !important;
}

.topBanner {
  height: 150px;
}

.pad10 {
  padding: 10px 10px 10px 10px;
}

/* profile and section padding 0px */

div#pro_sec {
  padding-right: 0px;
}

.btnStyle:hover {
  background-color: #5dc1a1 !important;
  background-image: none !important;
}

.img-responsive {
  max-width: 100%;
}

.padLeft0 {
  padding-left: 0px !important;
}

.padRight0 {
  padding-right: 0px !important;
}

.prflfrontimg {
  top: -105px !important;
  position: absolute !important;
  margin: 0 auto !important;
  right: 50px !important;
  left: 50px !important;
  display: block !important;
  height: 146px !important;
  border-radius: 50% !important;
  border: 5px solid #fff !important;
  z-index: 99 !important;
  padding: 0px !important;
}

.groupCardImg {
  margin: 5px 5px 5px 5px !important;
  max-width: 30% !important;
}

.topicImg {
  margin: 5px 5px 5px 5px !important;
  max-width: 90% !important;
}

.bgRed {
  animation: focusAnimation 2s linear;
}

@keyframes focusAnimation {
  0% {
    background-color: #37b4cb;
  }
  100% {
    background-color: white;
  }
}

.tfi .progress {
  border-radius: 0% !important;
  /* border: 1px solid #ccc; */
  display: inline-block;
  width: 80%;
  margin-bottom: 0px !important;
  border: unset;
  max-width: 200px;
}

.sectionHeadingDiv {
  background-color: transparent;
  color: #6b6666;
}

.sectionHeadingDiv h4 {
  text-decoration: underline;
}

.changePictureBtn {
  position: absolute;
  z-index: 9;
  border-radius: unset;
  right: 1.81em;
  top: 1.5em;
  background-color: #eaf8f2 !important;
  font-size: 11px !important;
  /* color: white !important; */
  background-image: unset;
  background-image: unset !important;
  border: unset;
}

.changePictureBtn:hover {
  cursor: pointer;
  background-color: #94dec1 !important;
  border: unset !important;
}

.profile-img:hover .changepic {
  position: relative !important;
  z-index: 999 !important;
}

.frontimg:hover {
  border: 2px dashed black !important;
}

.editBtn {
  color: #16b5ca !important;
}

/* custom scrollbar code */

/* width */

.custom-scrollbar::-webkit-scrollbar {
  width: 15px;
}

/* Track */

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00b5c9;
  border-radius: 10px;
}

/* Handle on hover */

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00b5c9;
}

.createTopicBtn {
  background-color: #a3d8c2 !important;
  background-image: unset !important;
  border: unset !important;
}

.createTopicBtn:hover {
  background-color: #5dc1a1 !important;
  background-image: unset !important;
}

.dx-tagbox .dx-texteditor-input {
  width: 100% !important;
}

/* for styling filter options */

.filterHead {
  /* margin-left:20px; */
  font-size: 16px !important;
  font-weight: 580;
  color: #676767 !important;
}

.filterData {
  display: none;
}

.itemSelected {
  background-color: #379c7b !important;
}

.mydropdown {
  display: inline-block !important;
  position: relative;
  z-index: 99999999;
  background-color: #f9f9f9;
  left: 57%;
  top: 23%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 20%;
  overflow: auto;
}

.filterItem:hover {
  background-color: #f1f1f1;
}

.filterItem {
  display: inline-block;
}

.hoverEffect:hover {
  border: unset;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* removing box shadow of quill object */

input[type="submit"],
input[type="button"],
button,
.button {
  box-shadow: unset;
}

/* font classes */

/* font (source sans pro) and font sizes */

.fs15 {
  font-size: 13px !important;
  /* font-family: "Source Sans Pro", sans-serif !important; */
}

.fs17 {
  font-size: 12px !important;
  /* font-family: "Source Sans Pro", sans-serif !important; */
}

.fs20 {
  font-size: 15px !important;
  /* font-family: "Source Sans Pro", sans-serif !important; */
}

.fs24 {
  font-size: 18px !important;
  /* font-family: "Source Sans Pro", sans-serif !important; */
}

.fs28 {
  font-size: 28px !important;
  /* font-family: "Source Sans Pro", sans-serif !important; */
}

/* font weight */

.fwsb {
  font-weight: 600 !important;
}

.fwb {
  font-weight: 700 !important;
}

.fwn {
  font-weight: 300 !important;
}

.fwl {
  font-weight: 300 !important;
}

p#mes {
  margin: 0px 21px;
}
.padLeftRight0 {
  padding: 0 0 0 0 !important;
}

/* for group card circle image */

.height80 {
  height: 80px !important;
}

.addResponseBtn {
  background-color: #03b4ca;
  color: white !important;
  border-radius: unset !important;
  margin: 0px 0px 10px 15px !important;
}

.addResponseBtn:hover {
  background-image: unset !important;
}

.martop20 {
  margin-top: 20px;
}

.martop10 {
  margin-top: 10px;
}

/* dropdown visibility toggle */

.dropdisp {
  display: grid !important;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.52em;
  max-height: 1.52em;
  width: 8em;
}

label {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 15px !important;
  font-family: "Source Sans Pro", sans-serif !important;
}

/* for attaching scrollbar to the filter dropdown */

.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

.listImg {
  height: 70px !important;
  margin-right: 15px !important;
}

div#settings ul.nav-tabs li a {
  border-radius: unset !important;
  border: unset;
  font-size: 18px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif !important;
}

div#settings ul.nav-tabs li.active a {
  background-color: #94dec1;
  color: white !important;
}

div#settings ul.nav-tabs li a:hover {
  background-color: #44caa1;
  color: white !important;
}

.marBottom5 {
  margin-bottom: 5px;
}

.social-btn {
  border-color: #2196f3 !important;
  color: dodgerblue !important;
  border-radius: unset !important;
}

.social-btn:hover {
  background-color: #2196f3 !important;
  color: white !important;
}

.social-content {
  font-size: small;
  font-weight: 300;
}

.profile-info-txt {
  position: absolute;
  margin-left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 15px 10px 5px;
  background-image: linear-gradient(
    rgba(27, 26, 26, 0.1),
    rgba(80, 77, 77, 0.7)
  );
}

.profile-text1 {
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 0.7rem;
}

.profile-text2 {
  color: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 0.7rem;
}

.profile-text2 p {
  font-size: inherit;
  color: inherit;
}

/* used for group detail */

.profile-detail p {
  color: #000;
  font-size: 12px;
  text-align: left;
  line-height: 0.7rem;
}

/* search bar */

#search label {
  margin-top: 0px;
  padding-top: 0px;
  position: absolute;
  top: 11%;
  left: 15px;
}

#search input {
  border-radius: 50px;
  padding-left: 28px;
}

.course-tile {
  border-bottom: 1px solid #cec8c8;
  padding: 5px;
}

.progress-label {
  float: left;
  margin-right: 1em;
}

.course-progress {
  border: 1px solid #bdb2b2 !important;
  margin-left: 10px;
}

ol.breadcrumb {
  padding-top: 5px !important;
}

.admin-pill {
  border-radius: 50px !important;
  width: 54px !important;
  padding-left: 4px !important;
  height: 18px;
  background-color: #5cc09f !important;
  padding-top: 0px !important;
  font-weight: 700 !important;
}

.round-btn {
  border-radius: 50px !important;
}

.loadMore {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 35% !important;
  border-radius: 50px !important;
}

.notify-card {
  background-color: #f6f7f9;
}

.card-img {
  height: 50px;
  width: 100px;
}

.card-img-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.time-spent-logo {
  width: 35px;
  margin-right: 10px;
}

.group-detail {
  margin-bottom: 15px !important;
  margin-top: 5px;
  padding-left: 5px !important;
  border-right-width: 5px;
  padding-right: 5px !important;
}

.topic-header {
  margin-left: 15px !important;
  background-color: #5cc09e;
  color: white;
  padding: 10px;
}

/* utkarsh saxena started. */

.other_changes .high_color {
  color: #20b3c9;
  font-weight: 600;
}

.notiCon .notiIcon {
  padding: 3px 10px 0;
  font-size: 17px !important;
}

@media screen and (max-width: 768px) {
  .other_changes circle-image#profilepic {
    display: inline-block;
    margin: auto;
    width: auto;
  }
  .other_changes .profile-info-txt {
    width: 260px;
    left: 50%;
    transform: translateX(-50%);
  }
  .other_changes .slick-prev {
    left: 0;
    z-index: 1;
  }
  .other_changes .slick-next {
    right: 0;
    z-index: 1;
  }
  landing.ng-scope.ng-isolate-scope
    .col-xs-12.col-lg-8.col-md-10.col-sm-12.padRight0 {
    padding: 0 15px !important;
  }
  #search input {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Utkarsh saxena ended. */
.carousel-spinner {
  padding-top: 0px !important;
  color: #21b3c8;
  font-size: 50px !important;
}
.slick-custom-arrow {
  /* display: block !important; */
  visibility: visible !important;
  height: 100% !important;
  border-radius: unset !important;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3) !important;
  visibility: unset;
  border: unset;
  z-index: 9;
  margin-right: 35px !important;
  margin-left: 35px !important;
}
.slick-prev,
.slick-next {
  visibility: hidden;
}
.course-card {
  /* height: 157px !important;
  width: 180px !important; */
  height: 145px !important;
  width: 165px !important;
  margin: 0px 10px !important;
}
.slick-prev:before,
.slick-next:before {
  display: none !important;
}
.slick-custom-icon {
  position: absolute;
  z-index: 9;
  color: white;
  font-size: 20px;
  top: 60px;
  left: 8px;
}

/* Custom course card */
.card {
  max-width: 155px;
  /* margin: auto; */
  border: 1px solid #ccc;
}

.card-about {
  padding: 5px;
}

.card img {
  max-width: 100%;
}

.card h6 {
  font-size: 12px;
  line-height: 1.5;
  color: #30302f;
  font-family: "Source Sans Pro";
  font-weight: 600;
  min-height: 36px;
}

.card .level_dis {
  font-size: 11px;
  line-height: 1.4;
  color: #30302f;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

.card .rating span {
  color: #ffad12;
  font-size: 12px;
}

.card .rating span.blank {
  color: #d1d2d3;
}

/* Group card */
.list h4 {
  margin-bottom: 7px;
  margin-top: 0;
  color: #30302f;
  text-decoration: unset;
}

.list p {
  margin: auto;
  color: #30302f;
  font-weight: 200;
}

.list a.time {
  display: inline-block;
  float: right;
  font-weight: 600;
  color: rgb(33, 178, 199);
}
.list span.group_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  float: left;
  background: #ef5c4e;
  color: #fff;
  text-align: center;
  line-height: 39px;
  font-size: 30px;
  margin-right: 20px;
}
.list span.unread:after {
  content: "";
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  position: absolute;
  top: 0px;
  right: 2px;
  border-radius: 50%;
  background: #5cc09f;
}
.circle-card {
  border-bottom: 1px solid #bdb2b2;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.other_changes .card {
  max-width: 100%;
}

.other_changes .slick-initialized .slick-slide {
  margin: 0 7px;
}

.other_changes .sectionHeadingDiv .list h4 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 400;
  margin-top: auto;
}

.other_changes .list p,
.other_changes .list p span {
  font-size: 13px;
  font-weight: 300 !important;
}

.other_changes .sectionHeadingDiv h4 {
  margin-bottom: 15px;
  font-weight: 300;
  margin-top: 20px;
}

.other_changes .row.mt2pr {
  margin-top: 1% !important;
}

.other_changes .slick-slide .card img {
  height: 107px;
  width: 100%;
  object-fit: cover;
}

.other_changes p.notiCon {
  margin-bottom: 5px;
}

.other_changes button.slick-arrow i {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.float-right {
  float: right;
}

.other_changes .rating:after {
  content: "";
  display: block;
  clear: both;
}

.tfi .group-detail-nav .panel .row {
  margin-top: 0;
}

.list span.group_icon {
  padding: 0;
}

.list span.group_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/*my courses started.*/
.other_changes .courses {
  margin-bottom: 0;
}

.other_changes .courses-details {
  padding: 15px 0;
  border-bottom: 1px solid #d4d4d4;
}

.other_changes .courses-details img {
  float: left;
  width: 120px;
  height: 77px;
  object-fit: cover;
  margin-right: 15px;
}

.other_changes .courses-details h4 {
  font-size: 20px;
  color: #30302f;
  font-weight: 300;
  margin-bottom: 10px;
}

.other_changes .courses-details .level {
  color: #02b2c7;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 12px;
}

.other_changes .courses-details .percent {
  color: #30302f;
  font-weight: 400;
  font-size: 14px;
}

.other_changes .courses-details .percent span {
  width: 100px;
  height: 8px;
  margin-left: 5px;
  background: #02b1c6;
  display: inline-block;
}
.other_changes h4,
p {
  margin: auto;
}


.tfi .progress{
  height: auto  !important;
  margin: auto;
  border-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: none;
  background: rgba(224, 224, 224, 0.5);
  border-radius: 5px !important;
}


.tfi .progress-bar{
  line-height: 5px;
  border: none;
  box-shadow: none;
  height: auto;
  font-size: 0;
}
/*my courses ended.*/


.other_changes ul.listGroup {
    max-height: 300px;
    overflow-y: auto;
}

/* width */

.other_changes ul.listGroup ::-webkit-scrollbar {
    width: 5px;
}


/* Handle */

.other_changes ul.listGroup ::-webkit-scrollbar-thumb {
    background: #ccc;
}